<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Business Template</title>
        <script src="business.js"></script>
        <link rel="icon" type="image/png" href="../../WebplixLogoTransparent.png" />
        <link rel="stylesheet" type="text/css" href="business.css">
    </head>
    <body onload="askAdDisplacement();">
        <div id="menu">
            <div class="general-flexer-row" id="menu-buttons">
                <div onclick="goHome();" class="general-flex-item menu-buttons cursor-pointer">
                   <span class="font4">Home</span>
                </div>
                <div onclick="dummyButton();" class="general-flex-item menu-buttons cursor-pointer">
                    <span class="font4">Orders</span>
                </div>
                <div onclick="dummyButton();" class="general-flex-item menu-buttons cursor-pointer">
                    <span class="font4">Services</span>
                 </div>
                 <div onclick="dummyButton();" class="general-flex-item menu-buttons cursor-pointer">
                    <span class="font4">Products</span>
                 </div>
                 <div onclick="dummyButton();" class="general-flex-item menu-buttons cursor-pointer">
                    <span class="font4">Support</span>
                </div>
            </div>
        </div>

        <div id="fixed-ads">
            <span>Ads</span><br>
            <a class="close-ad" onclick="closefixedad();">Close This Ad</a>
        </div>

        <div id="container">
            <div id="image-bg">
                <img id="logo-image" src="Nano.jpg" alt="Nano Cover Photo Logo">
            </div>
            <div id="title-and-description" class="center-h">
                <span class="font1"><b>N A N O</b></span><br>
                <span class="font2">Choice of Clothes</span>
            </div>

            <div id="shop-now" class="general-flexer-row">
                <div class="general-flex-item center-all general-flexer-column">
                    <span class="font2"><b>Show NOW and unlock a world of possibilities!</b></span><br>
                    <span class="font3">Discover the thrill of shopping with a purpose as you explore our meticulously chosen collection. From fashion-forward trends to innovative gadgets, we have something for everyone. But that's not all – we're not just about products, we're about experiences.</span>
                    <button onclick="mockOrder();" class="buttons font1">Place Order</button>
                    <div class="ads font2">Ads</div>
                </div>
                <div class="general-flex-item">
                    <div class="img-parent">
                        <img class="sample-tshirt-img" src="SampleTShirt.png" alt="Sample T-Shirt Graphics">
                    </div>
                </div>
            </div>
            <div id="discount" class="general-flexer-row">
                <div class="general-flex-item">
                    <div class="img-parent">
                         <img class="sample-tshirt-img" src="SampleTShirt.png" alt="Sample T-Shirt Graphics">
                    </div>
                </div>
                <div class="general-flex-item center-all general-flexer-column">
                    <span class="font2"><b> What's in it for you?</b></span><br>
                    <span class="font3">Irresistible Percentage Discounts: Elevate your shopping adventure with discounts that are truly tantalizing! Experience the thrill of making your desired items yours while enjoying substantial savings. Whether it's 15%, 25%, or even more, each visit to our digital treasure trove promises a unique surprise.</span>
                    <button onclick="mockOrder();" class="buttons font1">Add to Cart</button>
                    <div class="ads-dark-bg font2">Ads</div>
                </div>
            </div>
            <div id="order-now" class="general-flexer-row">
                <div class="general-flex-item center-all general-flexer-column">
                    <span class="font2"><b>Order NOW!</b></span><br>
                    <span class="font3"> Instant gratification is just a click away. Our intuitive platform streamlines the ordering process, allowing you to relish in the anticipation of your upcoming treasures. Shopping satisfaction has never been this effortless.</span>
                    <button onclick="mockOrder();" class="buttons font1">Get Now</button>
                    <div class="ads font2">Ads</div>
                </div>
                <div class="general-flex-item">
                    <div class="img-parent">
                      <img class="sample-tshirt-img" src="SampleTShirt.png" alt="Sample T-Shirt Graphics">
                    </div>
                </div>
            </div>
            <div id="limited-offer" class="general-flexer-row">
                <div class="general-flex-item">
                    <div class="img-parent">
                        <img class="sample-tshirt-img" src="SampleTShirt.png" alt="Sample T-Shirt Graphics">
                    </div>
               </div>
               <div class="general-flex-item center-all general-flexer-column">
                   <span class="font2"><b>Limited-Time Offer</b></span><br>
                   <span class="font3">The clock is ticking! This exceptional opportunity won't linger indefinitely. Seize the chance to acquire your coveted items now, before they become a wistful memory. Our limited-time offer ensures that you're among the elite group of shrewd shoppers who recognize the value of acting swiftly.</span>
                   <button onclick="mockOrder();" class="buttons font1">Related Products</button>
                   <div class="ads-dark-bg font2">Ads</div>
                </div>
            </div>
            
            <div id="why-choose" class="center-h">
                <span class="font1">Why choose us?</span><br>
                <span class="font3">Elevate your style with NANO – your ultimate "Choice of Clothes." Unveil a world of fashion where quality meets innovation. With trendsetting styles, uncompromising quality, and exceptional value, NANO empowers you to curate a wardrobe that defines you. Seamlessly navigate our user-friendly platform, enjoy sustainable fashion, and embrace endless possibilities. Join NANO today and revolutionize your fashion journey like never before.</span>
            </div>

            <div id="footer">
                <div id="footer-text">
                     <span class="font4">
                         <span>Disclaimer:</span><br>
                         <span>"NANO" used in this website template is purely fictional and serves as a placeholder company name for demonstration purposes. Any resemblance to real companies, products, or services is coincidental. The content presented, including company information, descriptions, and offerings, is entirely fictional and not representative of any actual entity. This template is provided to assist in website creation and should be customized with accurate information when used for real businesses.</span>
                         <hr>
                         <span class="footer-design-text" onclick="dummyButton();">Email</span> | 
                         <span class="footer-design-text" onclick="dummyButton();">Contact Us</span> | 
                         <span class="footer-design-text" onclick="dummyButton();">Privacy Policy</span> | 
                         <span class="footer-design-text" onclick="dummyButton();">Terms and Conditions</span> |
                         <span class="footer-design-text" onclick="dummyButton();">FAQ</span> |
                         <span class="footer-design-text" onclick="dummyButton();">Technical Support</span> |
                         <span class="footer-design-text" onclick="dummyButton();">About Us</span> |
                         <span class="footer-design-text" onclick="dummyButton();">Follow Us</span>
                         <br><br>
                         <span>All Rights Reserved 2023.</span>
                     </span>
                </div>
            </div>
        </div>
    </body>
</html>