<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Educational Template</title>
        <script src="educational.js"></script>
        <link rel="icon" type="image/png" href="../../WebplixLogoTransparent.png" />
        <link rel="stylesheet" type="text/css" href="educational.css">
    </head>
    <body onload="NoAds();">

        <div id="menu">
                <br><br>
            <div class="general-flexer-column" id="menu-buttons">
                <div onclick="goHome();" class="general-flex-item menu-buttons cursor-pointer">
                   <span>Home</span>
                </div>
                <div onclick="hidemenu();" class="general-flex-item menu-buttons cursor-pointer">
                    <span>Close Menu</span>
                </div>
                <br><br>
                <div onclick="dummyButton();" class="general-flex-item menu-buttons cursor-pointer">
                    <span>Science</span>
                </div>
                <div onclick="dummyButton();" class="general-flex-item menu-buttons cursor-pointer">
                    <span>Studies</span>
                 </div>
                 <div onclick="dummyButton();" class="general-flex-item menu-buttons cursor-pointer">
                    <span>Ethics</span>
                 </div>
                 <div onclick="dummyButton();" class="general-flex-item menu-buttons cursor-pointer">
                    <span>Learnings</span>
                </div>
                <div onclick="dummyButton();" class="general-flex-item menu-buttons cursor-pointer">
                    <span>Wiki</span>
                </div>
                <div onclick="dummyButton();" class="general-flex-item menu-buttons cursor-pointer">
                    <span>History</span>
                </div>
            </div>
        </div>

        <div id="show-menu" class="cursor-pointer">
            <span onclick="showmenu();"><b><u>Menu</u></b></span>
        </div>

        <div id="container">
             <div id="divider">
                <div id="left-pane" class="general-flex-item center-h">
                    <div class="general-flexer-column">
                       <div class="general-flex-item">
                        <span class="font1"><u>Science of Cholera</u></span>
                       </div>
                       <div class="general-flex-item"><br>
                        <img src="glass.jpg" id="main-pic" alt="Water in Glass"><br><br>
                       </div>
                       <div class="general-flex-item">
                        <span class="font3">Cholera is a bacterial infection caused by the bacterium Vibrio cholerae. It primarily affects the intestines and can lead to severe diarrhea and dehydration.</span>
                        <br><br>
                       </div>
                       <div class="general-flex-item desc-dif-bg">
                         <span class="font3">Causative Agent</span><br>
                         <span class="font4">Cholera is caused by the bacterium Vibrio cholerae, specifically by serotypes O1 and O139. These bacteria are found in contaminated water sources, especially in areas with poor sanitation and hygiene practices.</span>
                       </div>
                       <div class="general-flex-item desc-padding">
                        <span class="font3">Transmission</span><br>
                        <span class="font4">Cholera is typically transmitted through the consumption of contaminated water or food. The bacteria can survive in aquatic environments and can be transmitted through ingestion of contaminated shellfish, raw or undercooked seafood, or produce irrigated with contaminated water. Person-to-person transmission is less common but can occur in crowded or unsanitary conditions.</span>
                       </div>
                       <div class="general-flex-item desc-dif-bg">
                        <span class="font3">Pathogenesis</span><br>
                        <span class="font4">Once ingested, Vibrio cholerae bacteria colonize the small intestine. They produce a toxin known as cholera toxin, which is responsible for the characteristic symptoms of cholera. The toxin causes the lining of the small intestine to release large amounts of water and electrolytes, resulting in watery diarrhea.</span>
                       </div>
                       <div class="general-flex-item desc-padding">
                        <span class="font3">Clinical Presentation</span><br>
                        <span class="font4">Cholera infection can range from asymptomatic to severe. The most common symptoms include profuse watery diarrhea, vomiting, and dehydration. Without prompt and adequate treatment, severe cases can lead to electrolyte imbalances, low blood pressure, shock, and even death due to dehydration.</span>
                       </div>
                       <div class="general-flex-item desc-dif-bg">
                        <span class="font3">Diagnosis</span><br>
                        <span class="font4">Cholera is often diagnosed based on clinical symptoms, especially in areas with known outbreaks. Laboratory confirmation involves isolating the bacteria from a stool sample. Rapid diagnostic tests based on detecting cholera toxin genes can also be used.</span>
                       </div>
                       <div class="general-flex-item desc-padding">
                        <span class="font3">Treatment</span><br>
                        <span class="font4">Rehydration is the cornerstone of cholera treatment. Oral rehydration solutions (ORS) or intravenous fluids are used to replace lost fluids and electrolytes. Antibiotics like doxycycline or azithromycin can help reduce the duration and severity of symptoms but are not a substitute for rehydration.</span>
                       </div>
                       <div class="general-flex-item desc-dif-bg">
                        <span class="font3">Prevention</span><br>
                        <span class="font4">Preventing cholera primarily involves improving sanitation and hygiene. This includes providing access to clean drinking water, proper waste disposal, and promoting good hygiene practices like handwashing. Vaccines are also available, such as the oral cholera vaccine, which can provide protection against cholera in endemic areas.</span>
                       </div>
                       <div class="general-flex-item desc-padding">
                        <span class="font3">Epidemics and Global Impact</span><br>
                        <span class="font4">Cholera outbreaks can occur in areas with inadequate sanitation and water supply infrastructure, especially after natural disasters or during conflicts. The disease can spread rapidly, leading to epidemics. Cholera has had a significant impact on public health throughout history and continues to affect vulnerable populations in many parts of the world.</span>
                       </div>
                       <div class="general-flex-item desc-dif-bg">
                        <span class="font3">Cholera's Historical Significance</span><br>
                        <span class="font4">Cholera played a significant role in the development of epidemiology and the understanding of infectious diseases. In the mid-19th century, the famous physician John Snow linked a cholera outbreak in London to contaminated water from a specific pump, helping to establish the theory of disease transmission through water.</span>
                       </div>
                    </div>
                </div>
                <div id="right-pane" class="general-flex-item center-h">
                    <span class="font1">Related Topics:</span>

                    <div class="topics cursor-pointer" onclick="dummyButton();">
                        <span class="font2">Vibrio cholerae Genomics</span><br>
                        <span class="font4">Investigating the genetic makeup of Vibrio cholerae strains to understand their virulence factors, evolution, and potential for outbreaks.</span>
                    </div>
                    <div class="topics cursor-pointer" onclick="dummyButton();">
                        <span class="font2">Cholera Toxin Mechanism</span><br>
                        <span class="font4">Studying the molecular mechanisms of cholera toxin action, including its effects on host cells and how it induces the excessive release of fluids.</span>
                    </div>
                    <div class="topics cursor-pointer" onclick="dummyButton();">
                        <span class="font2">Host Immune Response</span><br>
                        <span class="font4">Exploring the human immune response to Vibrio cholerae infection, including the role of antibodies and immune cells in protection and susceptibility.</span>
                    </div>
                    <div class="topics cursor-pointer" onclick="dummyButton();">
                        <span class="font2">Waterborne Disease Transmission</span><br>
                        <span class="font4">Examining the environmental factors that contribute to the survival and transmission of Vibrio cholerae in water sources and its impact on outbreaks.</span>
                    </div>
                    <div class="topics cursor-pointer" onclick="dummyButton();">
                        <span class="font2">Vaccine Development</span><br>
                        <span class="font4">Researching the development and effectiveness of cholera vaccines, including traditional whole-cell vaccines and newer approaches like subunit vaccines.</span>
                    </div>
                    <div class="topics cursor-pointer" onclick="dummyButton();">
                        <span class="font2">Antibiotic Resistance</span><br>
                        <span class="font4">Investigating the emergence and spread of antibiotic resistance among Vibrio cholerae strains and its implications for treatment and control.</span>
                    </div>
                    <div class="topics cursor-pointer" onclick="dummyButton();">
                        <span class="font2">Epidemiological Modeling</span><br>
                        <span class="font4">Using mathematical and computational models to predict the spread of cholera outbreaks, evaluate intervention strategies, and inform public health policies.</span>
                    </div>
                    <div class="topics cursor-pointer" onclick="dummyButton();">
                        <span class="font2">Impact of Climate Change</span><br>
                        <span class="font4">Examining how climate change affects the distribution of Vibrio cholerae, its survival in aquatic environments, and the potential for increased cholera incidence.</span>
                    </div>
                    <div class="topics cursor-pointer" onclick="dummyButton();">
                        <span class="font2">Mobile Genetic Elements</span><br>
                        <span class="font4">Studying the role of mobile genetic elements like plasmids and transposons in the transfer of virulence genes and antibiotic resistance among Vibrio cholerae strains.</span>
                    </div>
                    <div class="topics cursor-pointer" onclick="dummyButton();">
                        <span class="font2">Cholera Surveillance</span><br>
                        <span class="font4">Analyzing surveillance data to monitor the global burden of cholera, identify trends, and assess the effectiveness of control measures.</span>
                    </div>

                    <br><br>

                    <span class="font1">More Topics:</span>

                    <div class="topics cursor-pointer" onclick="dummyButton();">
                        <span class="font2">Artificial Intelligence Ethics</span><br>
                        <span class="font4">Examining the ethical considerations surrounding the development and deployment of artificial intelligence, including bias, privacy, and accountability.</span>
                    </div>
                    <div class="topics cursor-pointer" onclick="dummyButton();">
                        <span class="font2">Neural Networks and Deep Learning</span><br>
                        <span class="font4">Analyzing the workings of neural networks, a subset of AI, and their applications in pattern recognition, image processing, and natural language processing.</span>
                    </div>
                    <div class="topics cursor-pointer" onclick="dummyButton();">
                        <span class="font2">Dark Matter and Dark Energy</span><br>
                        <span class="font4">Exploring the mysterious components that make up the majority of the universe's mass and energy and their roles in cosmic structure and expansion.</span>
                    </div>
                </div>
             </div>
        </div>

        <div id="footer">
            <div id="footer-text">
                 <span class="font4">
                     <span class="footer-design-text" onclick="dummyButton();">Email</span> | 
                     <span class="footer-design-text" onclick="dummyButton();">Contact Us</span> | 
                     <span class="footer-design-text" onclick="dummyButton();">Privacy Policy</span> | 
                     <span class="footer-design-text" onclick="dummyButton();">Terms and Conditions</span> |
                     <span class="footer-design-text" onclick="dummyButton();">FAQ</span> |
                     <span class="footer-design-text" onclick="dummyButton();">Technical Support</span> |
                     <span class="footer-design-text" onclick="dummyButton();">About Us</span> |
                     <span class="footer-design-text" onclick="dummyButton();">Follow Us</span>
                     <br><br>
                     <span>All Rights Reserved 2023.</span>
                 </span>
            </div>
        </div>

    </body>
</html>